.env*
llama_server.log*
session.log*
VectorStore*

**/__pycache__/
*.py[cod]

# Sentence transformer model cache
.cache/

# Log files and session logs
logs/

data/

llama_server_background.log*
llama_server_main.log*


.venv*